@model List<RedCrossItCheckingSystem.Models.DataContainer>
@{
    ViewData["Title"] = "Home Page";
}



@if (Model.Count > 0)
{

    <div class="row">

        <span class="col-lg-2">
            <label>Sagsnummer</label>
        </span>
        <span class="col-lg-2">
            <label>Serienummer</label>
        </span>
        <span class="col-lg-1">
            <label>Kategori</label>
        </span>
        <span class="col-lg-1">
            <label>Model</label>
        </span>
        <span class="col-lg-1">
            <label>Tilbehør</label>
        </span>
        <span class=" col-lg-1">
            <label>Afdeling</label>
        </span>
        <span class="col-lg-1">
            <label>Medarbejder</label>
        </span>
        <span class="col-lg-1">
            <label>Start Dato</label>
        </span>
        <span class="col-lg-1">
            <label>Slut Dato</label>
        </span>
        <span class="col-lg-1<">
            <label>Status</label>
        </span>

    </div>


    <form asp-action="Edit">

        @for (int i = 0; i < Model.Count; i++)
        {

            <div method="post" asp-validation-summary="ModelOnly"></div>

            <div class="row">
                <div class="col-md-12 ">

                    <span class="col-md-2">
                        @Model[i].CaseID
                    </span>

                    <span class="col-md-2">
                        @Model[i].SerialNumber
                    </span>
                    <span class="col-md-1">
                        @Model[i].Department
                    </span>
                    <span class="col-md-1">
                        @Model[i].EmplyeeName
                    </span>
                    <span class="col-md-1">
                        @Model[i].DeviceName
                    </span>
                    <span class="col-md-1">
                        @Model[i].DeviceType
                    </span>
                    <span class="col-md-1">
                        @Model[i].Accessories
                    </span>
                    <span class="col-md-1">
                        @Model[i].Status
                    </span>
                    <span class="col-md-1">
                        @Model[i].DateStart.ToShortDateString()
                    </span>
                    <span class="col-md-1">
                        @Model[i].DateEnd.ToShortDateString()
                    </span>
                </div>

            </div>
        }
    </form>

}
else
{
    <label>intet fundet i databasen</label>

}

@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}
