@model List<RedCrossItCheckingSystem.Models.DataContainer>
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpcontextAccessor

@{string status = httpcontextAccessor.HttpContext.Session.GetString("status"); }


<div class="container shadow">

    @if (Model.Count > 0)
    {
        <div class="row overViewHeader">
            <div class="col-md-12">
                <form class="row" asp-action="Overview" method="post">
                    <div class="col75 ">
                        <label>Sagsnr.</label>
                    </div>
                    <div class="col150">
                        <label>Serienr.</label>
                    </div>
                    <div class="col125">
                        <label>Kategori</label>
                    </div>
                    <div class="col125 ">
                        <label>Model</label>
                    </div>
                    <div class="col175 ">
                        <label>Tilbehør</label>
                    </div>
                    <div class="col75 ">
                        <label>Status</label>
                    </div>
                    <div class="col125 ">
                        <label>Antal Logs</label>
                    </div>
                    <div class="col125 ">
                        <select id="selector" name="selector">
                            <option value="Filtrer">Filtrer</option>
                            <option value="Igang">Igang</option>
                            <option value="Defekt">Defekt</option>
                            <option value="OK">OK</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>



        var rowcol = "";

        for (int i = 0; i < Model.Count; i++)
        {
            if (i % 2 == 0)
            {
                rowcol = " #dadeff";
            }
            else
            {
                rowcol = "#eeefff";
            }


            <div class="row rowPadding" style="background-color:@rowcol;">


                <span class="col75">
                    @Model[i].CaseID
                </span>

                <span class="col150">
                    @Model[i].SerialNumber
                </span>
                <span class="col125">
                    @Model[i].DeviceType
                </span>
                <span class="col125">
                    @Model[i].DeviceName
                </span>
                <span class="col175 ">
                    @Model[i].Accessories
                </span>
                <span class="col75">
                    @Model[i].Status
                </span>
                <span class="col125">
                    @Model[i].LogCount
                </span>
                <form asp-action="Edit" class="col100">

                    <button class="btn btn-primary btn-sm" type="submit" name="submit" value="@Model[i].CaseID">Rediger</button>

                </form>
                <form asp-action="Review" class="col100">

                    <button class="btn btn-primary btn-sm" type="submit" name="submit" value="@Model[i].CaseID">Vis Log</button>

                </form>

            </div>





        }


        <div class="row overViewFooter"></div>

    }
    else
    {
        <div class="row overViewHeader">

            <span class="col75 ">
                <label>Sagsnr.</label>
            </span>
            <span class="col150">
                <label>Serienr.</label>
            </span>
            <span class="col125">
                <label>Kategori</label>
            </span>
            <span class="col125 ">
                <label>Model</label>
            </span>
            <span class="col175 ">
                <label>Tilbehør</label>
            </span>
            <span class="col75 ">
                <label>Status</label>
            </span>
            <span class="col125 ">
                <label>Antal Logs</label>
            </span>
            <div class="col125 ">
                <form asp-action="Overview" method="post">
                    <select id="selector" name="selector">
                        <option value="Filtrer" selected="selected">Filtrer</option>
                        <option value="Igang">Igang</option>
                        <option value="Defekt">Defekt</option>
                        <option value="OK">OK</option>
                    </select>
                </form>
            </div>


        </div>

        <div class="row rowPadding" style=" background-color: #dadeff">
            <span>
                <label>intet fundet i databasen</label>
            </span>
        </div>

        <div class="row overViewFooter"></div>

    }

    <script type="text/javascript">
    function javascriptFunction(status)
    {
        var x = document.getElementById("selector");
        x.selectedIndex = status;
    }
        javascriptFunction(@Html.Raw(Json.Serialize(status)));
    </script>

</div>

<script src="~/js/statusSelector.js"></script>



@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}
