@model List<RedCrossItCheckingSystem.Models.DataContainer>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Count > 0)
{

    <div class="row">
        <div class="col-md-8 ">
            <span class="col-md-4">
                <label asp-for="@Model[0].SerialNumber"> </label>
            </span>

            <span class="col-md-4">
                <label asp-for="@Model[0].DeviceName"> </label>
            </span>

            <span class="col-md-4">
                <label asp-for="@Model[0].DeviceType"> </label>
            </span>

        </div>


    </div>


    <form asp-action="Edit">

        @for (int i = 0; i < Model.Count; i++)
        {

            <div method="post" asp-validation-summary="ModelOnly"></div>

            <div class="row">
                <div class="col-md-8 ">

                    <span class="col-md-4">
                        <input asp-for="@Model[i].SerialNumber" />
                    </span>

                    <span class="col-md-4">
                        <input asp-for="@Model[i].DeviceName" />
                    </span>

                    <span class="col-md-4">
                        <input asp-for="@Model[i].DeviceType" />
                    </span>
                </div>

                <button class="btn btn-primary" type="submit" name="submit" value="@Model[i].CaseID">Edit</button>
            </div>
        }
    </form>

}
else
{
    <label>intet fundet</label>
    
    <form asp-action="Create">
        <input class="btn btn-primary" type="submit" value="opret ny case" />
    </form>

}



@section scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}
