@model List<RedCrossItCheckingSystem.Models.DataContainer>
@{
    ViewData["Title"] = "Søg";
}

<div class="container shadow">






    <!--show content of list model if any exists --> 
    @if (Model.Count > 0)
    {

        <div class="row">

            <div class="col-md-auto ">
                <h2>Søgning udført:</h2>

            </div>
            <div class="col">
                <h4 class="buttonInColumn"> Vi fandt @Model.Count sager i systemet</h4>
            </div>

        </div>
        <div class="row overViewHeader">

            <span class="col75 ">
                <label>Sagsnr.</label>
            </span>
            <span class="col150">
                <label>Serienr.</label>
            </span>
            <span class="col125">
                <label>Kategori</label>
            </span>
            <span class="col125 ">
                <label>Model</label>
            </span>
            <span class="col175 ">
                <label>Tilbehør</label>
            </span>
            <span class="col125 ">
                <label>Status</label>
            </span>
          


        </div>


        <!--show list of content with alternating color background-->
        var rowcol = "";

        for (int i = 0; i < Model.Count; i++)
        {
            if (i % 2 == 0)
            {
                rowcol = " #dadeff";
            }
            else
            {
                rowcol = "#eeefff";
            }


<div class="row rowPadding" style="background-color:@rowcol;">


    <span class="col75">
        @Model[i].CaseID
    </span>

    <span class="col150">
        @Model[i].SerialNumber
    </span>
    <span class="col125">
        @Model[i].DeviceType
    </span>
    <span class="col125">
        @Model[i].DeviceName
    </span>
    <span class="col175 ">
        @Model[i].Accessories
    </span>
    <span class="col125">
        @Model[i].Status
    </span>
  

    <!--buttons to click for editing-->
    <form asp-action="Edit" class="col100">

        <button class="btn btn-primary btn-sm" type="submit" name="submit" value="@Model[i].CaseID">Rediger</button>

    </form>


</div>


        }


        <div class="row overViewFooter"></div>

    }
    else
    {
        <!--show user nothing was found in the database-->
        <div class="row rowPadding">

            <div class="col-md-auto ">
                <h2>Søgning udført:</h2>
            </div>

            <div class="col">
                <h4 class="buttonInColumn"> Vi fandt @Model.Count sager i systemet</h4>
            </div>

            <div class="col">
                <form asp-action="Create">
                    <input class="btn btn-primary buttonInColumnCenter" type="submit" value="Opret ny sag" />
                </form>
            </div>



        </div>
    }





    @section scripts {
        @{await Html.RenderPartialAsync("_validationScriptsPartial");}
    }
</div>